<%- include('partials/header') %>

        <h1 class="h1 visually-hidden-focusable">Diario de Notas  (¿?)</h1>
    
        <div class="row mx-auto justify-content-center">
            <% notes.forEach(nota => { %>
             <div class="col-lg-3 col-md-4 col-sm-6 col-10 my-3 text-center text-sm-start">
                    <div class="card bg-black border-success">
                    <div class="card-body (text-secondary)">
                        <div class="card-header text-center text-success d-flex justify-content-between align-items-center gap-2">
                        <!-- <div class="card-header text-center text-success d-grid"> -->
                            <!-- <p class="h4 flex-grow"><%- nota.date.toLocaleDateString("en-GB") %></p> -->
                            <p class="h4 flex-grow-1 mb-0">
                                <%- nota.date.toLocaleDateString("es", {
                                    weekday: 'short', 
                                    month: 'short', 
                                    day: 'numeric',
                                    timeZone: 'UTC',
                                }) %>
                                <%- nota.date.toLocaleDateString("es", {
                                    year: '2-digit', 
                                    timeZone: 'UTC',
                                }) %>
                            </p>
                            <div class="d-flex gap-2">
                                <a class="btn btn-outline-secondary btn-sm p-1" href="./form-edit-nota/<%- nota._id %>">
                                        Edit
                                </a>
                            </div>
                        </div>
                        <hr>
                        <p class="card-text d-flex gap-2 justify-content-center justify-content-sm-start">Intensidad: 
                            <span>
                                <%- nota.intensidadDolor %>
                            </span>
                        </p>
                        <hr>
                        <p class="card-text d-flex gap-2 justify-content-center justify-content-sm-start">Mareos: 
                            <input type="checkbox" class="form-check-input" disabled <%- nota.mareos ? "checked" : null%>>
                        </p>

                        <hr>
                        <p class="card-text d-flex gap-3 justify-content-center justify-content-sm-start">Luz: 
                            <span>
                                <input type="checkbox" class="form-check-input" disabled <%- nota.sensibilidadL != "false" ? "checked" : null%>>
                                <input type="checkbox" class="form-check-input" disabled <%- nota.sensibilidadL == "true+" ? "checked" : null%>>
                            </span>
                            </p>
                        <hr>
                        <p class="card-text d-flex gap-3 justify-content-center justify-content-sm-start">Ruidos: 
                            <span>
                                <input type="checkbox" class="form-check-input" disabled <%- nota.sensibilidadR ? "checked" : null%>>
                            </span>
                        </p>
                        <hr>
                        <p class="card-text d-flex gap-3 justify-content-center justify-content-sm-start">Olores: 
                            <span>
                                <input type="checkbox" class="form-check-input" disabled <%- nota.sensibilidadO  ? "checked" : null%>>
                            </span>
                        </p>
                        <hr>
                        <p class="card-text d-flex gap-3 justify-content-center justify-content-sm-start">Afectó?: 
                            <span>
                                <%- nota.afecto %>
                            </span>
                        </p>
                        <hr>
                        <p class="card-text d-flex gap-2 justify-content-center justify-content-sm-start">Medicina?: 
                            <span>
                                <%- nota.medicina %>
                            </span>
                        </p>
                        <hr>
                        <div class="d-grid">
                            <a type="submit" href="./form-delete-nota/<%- nota._id %>" class="btn btn-danger text-center">Eliminar</a>
                        </div>
                    </div>
    
                </div>
             </div>
            <% }) %>
        </div>
<%- include('partials/footer') %>